<nav class="bg-gray-800 text-white px-6 py-4 shadow flex justify-between items-center w-full">
  <div class="text-xl font-semibold flex-1 text-left">Sistema Ventas</div>
  <ul class="flex justify-between space-x-4">
    <li *ngIf="!sesionActiva">
      <a routerLink="/registro" routerLinkActive="font-bold" class="hover:text-yellow-300">Registro</a>
    </li>
    <li *ngIf="!sesionActiva">
      <a routerLink="/login" routerLinkActive="font-bold" class="hover:text-yellow-300">Iniciar Sesión</a>
    </li>
    <li *ngIf="sesionActiva">
      <button (click)="cerrarSesion()" class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded">
        Cerrar sesión
      </button>
    </li>
  </ul>
</nav>